<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Login</title>
</head>
<body>

<header>
    <img src="../static/multimedia/logo.png" alt="" class="imagen-logo">
    <nav class="navigation">
        <a href="#">Home</a>
        <a href="#">Nosotros</a>
        <a href="#">Servicios</a>
        <a href="#">Contactanos</a>
        <button class="btnlogin-popup">Login</button>
    </nav>
</header>


<!-- <img src="../static/css/multimedia/logo-facebook.png" alt=""> -->

<div class="wrapper">
    <div class="form-box login"> 
        <h2>Login</h2>
        <form >
            <div class="input-box">
                <span class="icon"><ion-icon
                name="mail"></ion-icon></span>
                <input type="Text" required>
                <label>Email</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon
                name="lock-closed"></ion-icon></span>
                <input type="password" required>
                <label>Password</label>
            </div>
        <div class="recuperarcontra">
            <div class="slider">
                <input type="checkbox" id="toggle" class="toggle-input">
                <label for="toggle" class="toggle-label"></label>
                </div>
                <label>
                Recordar</label>
            <a href="#">Recuperar Contraseña</a>
        </div>
        <button type="submit" class="btn">Iniciar
        </button>
            <div class="login-register">
            <p>Crear un Usuario<a
                href="#"
                class="register-link">  Registrarse</a>
            </p>
            </div>
        </form>
    </div>


    <div class="form-box register">
        <h2>Registrarse</h2>
        <form action="#">
            <div class="input-box">
                <span class="icon">
                    <ion-icon name="person"></ion-icon>
                </span>
                <input type="Text" required>
                <label>Usuario</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="accessibility">

                </ion-icon></span>
                <input type="Text" required>
                <label>Nombre</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="accessibility"></ion-icon></span>
                <input type="Text" required>
                <label>Apellido</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="phone-portrait"></ion-icon></span>
                <input type="Text" required>
                <label>Telefono</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="id-card-outline"></ion-icon></ion-icon></span>
                <input type="Text" required>
                <label>Tipo Documento</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="id-card-outline"></ion-icon></span>
                <input type="Text" required>
                <label>Numero Documento</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="map"></ion-icon></span>
                <input type="Text" required>
                <label>Direccion</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon
                name="mail"></ion-icon></span>
                <input type="Text" required>
                <label>Email</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon
                name="lock-closed"></ion-icon></span>
                <input type="password" required>
                <label>Password</label>
            </div>
        <div class="recuperarcontra-2">
            <label><input type="checkbox">
            <a href="/tc">Acepto los Términos y Condiciones</a>
        </label>
        </div>
        <button type="submit" class="btn" >Registrarse
        </button>
            <div class="login-register">
            <p>¿Ya tienes un cuenta?<a
                href="#"
                class="login-link">Login</a>
            </p>
            </div>
        </form>
    </div>



</div>

<footer>
    <div class="iconos">
    <li>
        <Ul><ion-icon name="logo-facebook"></ion-icon><img src="">

        </Ul>
    </li>
    </div>
</footer>

<script src="../static/js/script.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>



</body>

</html>
