<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estilos4.css">
    <title>Document</title>
</head>
<body>

    <header>
        <a href="#"><img src="../static/css/multimedia/logo.png" alt="" class="logo"></a>
        <h1 class="title">Perfil cliente</h1>
        <img src="../static/css/multimedia/usuario.png" alt="" class="img-user">
    </header>

    <main>
        <div class="card-user">
            <div class="user-image">
                <img src="../static/css/multimedia/usuario.png" alt="" class="card-user-img">
            </div>
            <div class="box-info">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum, nam aut tempora laboriosam repellendus beatae porro sequi vel consequuntur dolore.</p>
            </div>
        </div>

        <div class="card-work">
            <div class="box-title">
                <h1>Reseñas</h1>
            </div>
            <div class="box-backg">
                <div class="box-coment">
                    <div class="box-backg-user">
                        <img src="../static/css/multimedia/usuario.png" alt="" class="img-backg-user">
                    </div>
                    <div class="box-coment-user">
                        <div class="box-coment-text">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea ipsum aliquam consequuntur, impedit tempora architecto magnam distinctio modi cumque porro?</p>
                        </div>

                        <div class="box-posit-btn">
                            <button class="box-btn">ver</button>
                        </div>
                        
                    </div>
                </div>
                <div class="box-coment">
                    <div class="box-backg-user">
                        <img src="../static/css/multimedia/usuario.png" alt="" class="img-backg-user">
                    </div>
                    <div class="box-coment-user">
                        <div class="box-coment-text">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea ipsum aliquam consequuntur, impedit tempora architecto magnam distinctio modi cumque porro?</p>
                        </div>

                        <div class="box-posit-btn">
                            <button class="box-btn">ver</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="../static/js/main.js"></script>
</body>
</html>